.error
{
	color: red;
	margin-top: 10px;
	margin-bottom: 10px;
}

table.db-table
{
	width: 1000px;
	margin: center;
	border: 1px;
	color: white;
	padding: 3px;
}

table.db-table th
{
	background-color: gray;
	padding: 5px;
	border: 1px solid #ccc;
}

table.db-table td
{
	background-color: white;
	color: black;
	padding: 1px;
	border: 1px solid #ccc;
}

